<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
	   		http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Cấu hình interceptor --> 
	<mvc:interceptors>  
		<!-- Lọc tất cả các URL -->
		
		<!-- <bean class="shop.interceptor.LoggerInterceptor" /> -->
		
		<!-- Chỉ lọc các URL trang admin -->
		 <mvc:interceptor>	
			<mvc:mapping path="/admin/**"/>
			<bean class="shop.interceptor.LoginInterceptor" />
		</mvc:interceptor>
		
		<!-- Chỉ lọc các URL liên quan giỏ hàng -->
		 <mvc:interceptor>
			<mvc:mapping path="/xac-nhan-mua-hang.htm"/>
			<mvc:mapping path="/gio-hang.htm"/>
			<mvc:mapping path="/add-cart/**"/>
			<mvc:mapping path="/edit-cart/**"/>
			<mvc:mapping path="/delete-cart/**"/>
			<bean class="shop.interceptor.CartInterceptor" />
		</mvc:interceptor>
		
		<!-- Chỉ lọc các URL trang thông tin user -->
		 <mvc:interceptor>
			<mvc:mapping path="/thong-tin-tai-khoan.htm"/>
			<mvc:mapping path="/chinh-sua-thong-tin.htm"/>
			<mvc:mapping path="/doi-mat-khau.htm"/>
			<mvc:mapping path="/xem-don-hang.htm"/>
			<bean class="shop.interceptor.ProfileInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>  
</beans>